.ourprodect {
  text-align: center;
}

.proudect {
  width: 33%;
  display: inline-block;
}
.proudect img {
  width: 100%;
}
span {
  color: teal;
  font-size: 50px;
}
.proudect button{
  background-color: transparent;
  padding: 7px;
  border-radius: 20px;
  border: 1px solid teal;
}
